<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <h1>Clima App</h1>
  
  <div class="intro">
  
      <h2>Trabalho da disciplica de Tópicos Especiais em Sistemas de Informação.</h2>
      <h3>Aplicação Híbrida com Ionic.</h3>
    <!-- <h4>Desenvolvido por:</h4>
   <p>
     Ana Luiza Pires Barbosa <br>
     José Maria Laranjeiras Junior <br>
     Maicon Wesleandro <br>
     Nathan de Freias Duarte <br>
    </p> -->
   <a class="checkWeather" [routerLink]="[ '/list' ]">Pesquisar climas</a>
  </div>

</ion-content>
